body { 
	padding-top: 70px;
	padding-bottom: 70px; 
}

td {padding-bottom: 1em; }

code, pre {
	border: none;
	background-color: #fcf3f2;
}
.list-container {
	padding-right: 120px;
	padding-left: 120px;
	border-radius: 6px;
}

#table-title {
	font-size: 28px;
}

.list-text {font-size: 18px;}


#top {
	overflow: auto;
}
#status {
	margin-left: 50px;
}

.front-blurb {
	font-size: 18px;
}

.main-data {
	padding-right: 350px;
	padding-left: 120px;
	border-radius: 6px;
}

.main-data-title{
	font-size: 28px;
}

.pretty-link {
	color: #000000;
	}

a:hover{
	color: #FF0000;
	text-decoration: none;
}

#authors, #context, #problem, #forces, #solution, #rationale, #diagram {
	padding-bottom: 2em;
}

.force-item {
	overflow: auto;
	padding-bottom: 1em;
}

.force-image {
    float: left; 
	margin-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	width: 100px;
	height: 100px;
}

.pattern-image{
	  float: left; 
	margin-left: 50px;
	margin-right: 15px;
	padding-bottom: 15px;
	width: 100px;
	height: 100px;
}

#pattern-diagram {
	overflow: auto;
}

.diagram-image{
	float: left; 
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

.problem-text, .solution-text{
	font-weight: bold;
	color: #000000;
	background-color: #fcfaf2;
	border: none;
}
.first-banner {
	padding-right: 60px;
	padding-left: 60px;
	border-radius: 6px;
	background-color: #FDFFC6;
}